.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .is-mobile {

    mat-toolbar {
      position: fixed;
      z-index: 2;
    }

    mat-sidenav-container {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
      flex: 1 0 auto;
    }
  }

  mat-toolbar {
    background: linear-gradient(to bottom, #060606, #252525, #000000);
    justify-content: space-between;

    mat-icon {
      color: #fff;

      &:hover {
        color: #a5a5a5;;
      }
    }

    .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      .logo {
        position: relative;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &:hover {
          color: #a5a5a5;
          img {
            filter: brightness(0.8);
          }
        }

        img {
          position: absolute;
          height: 4rem;
          top: -0.5rem;
          left: -1rem;
          z-index: 5;
        }

        h1 {
          padding-left: 1rem;
        }
      }
    }
  }

  mat-sidenav-container {
    flex: 1;
    padding: 1rem 2rem;
  }

}
