<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        {%- seo -%}
        <link rel="stylesheet" href={{ "/assets/css/style.css" | absolute_url }}>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav>
            <ul>
            {%- assign prevdir="" -%}
            {%- for item in site.pages -%}
                {%- if item.dir neq prevdir -%}
                {%- if prevdir -%}
                    </ul>
                </li>
                {%- endif -%}
                <li>{{item.dir }}
                    <ul>
                {%- endif -%}
                        <li><a href="{{ item.url | absolute_url }}">{{ item.title | default: item.name }}</a></li>
            {%- endfor -%}
            </ul>
        </nav>
        <h2>{{ page.name | replace(".md", "") }}</h2>
        <article>
            {{ content }}
        </article>
        <footer>
            &copy; Björn Büttner
        </footer>
    </body>
</html>
