<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        {%- seo -%}
        <link rel="stylesheet" href={{ "/assets/css/style.css" | absolute_url }}>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav>
            {% assign doclist = site.data.samplelist.docs | sort: 'title' %}
            <ul>
            {% for item in doclist %}
                <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        <h1>{{ page.title }}</h1>
        <article>
            {{ content }}
        </article>
        <footer>
            &copy; Björn Büttner
        </footer>
    </body>
</html>
