<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        {%- seo -%}
        <link rel="stylesheet" href={{ "/assets/css/style.css" | absolute_url }}>
        <link rel="stylesheet" href={{ "/assets/style.css" | absolute_url }}>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="nav">
            <img src="{{ "/assets/logo_small.png" | absolute_url }}" alt="logo"/>
            <nav>
                <ul>
                {%- assign prevdir[0]="" -%}
                {%- assign prevdir[1]="" -%}
                {%- for item in site.pages -%}
                    {%- if item.url != "/assets/css/style.css" -%}
                        {%- assign nowdir = {item.dir | remove_first: "/" | replace_first: "/", ":"  | remove_first: "/" | split: ":"} -%}
                        {%- if nowdir[0] == prevdir[0] -%}
                            {%- if nowdir[0] == prevdir[0] -%}
                                {%- if nowdir[1] == prevdir[1] -%}
                                    <li><a href="{{ item.url | absolute_url }}">{{ item.name | replace: ".md", "" }}</a></li>
                                {%- else -%}
                                    {%- if prevdir[1] != "" -%}
                                        </ul>
                                    </li>
                                    {%- endif -%}
                                    {%- if nowdir[1] != "" -%}
                                    <li>{{ nowdir[1] }}
                                        <ul>
                                    {%- endif -%}
                                    <li><a href="{{ item.url | absolute_url }}">{{ item.name | replace: ".md", "" }}</a></li>
                                {%- endif -%}
                            {%- endif -%}
                        {%- else -%}
                            {%- if prevdir[1] -%}
                                    </ul>
                                </li>
                            {%- endif -%}
                            {%- if prevdir[0] -%}
                                    </ul>
                                </li>
                            {%- endif -%}
                            {%- if nowdir[0] -%}
                                <li>{{ nowdir[0] }}
                                    <ul>
                            {%- endif -%}
                            {%- if nowdir[1] -%}
                                <li>{{ nowdir[1] }}
                                    <ul>
                            {%- endif -%}
                                        <li><a href="{{ item.url | absolute_url }}">{{ item.name | replace: ".md", "" }}</a></li>
                        {%- endif -%}
                        {%- assign prevdir = {nowdir} -%}
                    {%- endif -%}
                {%- endfor -%}
                </ul>
            </nav>
        </div>
        <h2>{{ page.name | replace: ".md", "" }}</h2>
        <article>
            {{ content }}
        </article>
        <footer>
            &copy; Björn Büttner - Texts of <a target="_blank" href="https://www.nexusmods.com/skyrimspecialedition/mods/69338">Idrinth Thalui</a>
        </footer>
    </body>
</html>
